@font-face {
	font-family: "Gilroy";
	src: url("../FONTS/gilroy-bold.eot"); /* IE 9 Compatibility Mode */
	src: url("../FONTS/gilroy-bold.eot?#iefix") format("embedded-opentype"),
		/* IE < 9 */ url("../fonts/gilroy-bold.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../FONTS/gilroy-bold.woff") format("woff"),
		/* Firefox >= 3.6, any other modern browser */ url("../FONTS/gilroy-bold.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../FONTS/gilroy-bold.svg#gilroy-bold") format("svg"); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: "Gilroy";
	src: url("../FONTS/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
	src: url("../FONTS/gilroy-medium.eot?#iefix") format("embedded-opentype"),
		/* IE < 9 */ url("../fonts/gilroy-medium.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../FONTS/gilroy-medium.woff") format("woff"),
		/* Firefox >= 3.6, any other modern browser */ url("../FONTS/gilroy-medium.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../FONTS/gilroy-medium.svg#gilroy-medium") format("svg"); /* Chrome < 4, Legacy iOS */
}
